:root {
  --system-ui: 'Open Sans', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: clamp(0.25rem, 1.2vw, 0.8rem);
  --x-large-sizing: 6rem;
  --large-sizing: 3rem;
  --sizing: 1.5rem;
  --half-sizing: 1rem;
  --text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
  --default-text-color: white;
  --primary-bg-color: rgb(24, 26, 27);
  --secondary-bg-color: rgb(104, 104, 104);
  --general-transform-scale: 1.1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
.grid-container,
.columns-2,
.game-container,
.score-container,
.game-container header h1,
#reset  {
  display: grid;
}

body,
.game-container,
.game-container header h1,
#reset {
  justify-items: center;
}

.columns-2,
body,
#reset,
.score-container,
.player-column,
#draw {
  align-items: center;
}

.columns-2 {
  gap: var(--half-sizing);
  grid-template-columns: auto auto;
  justify-content: center;
}

body {
  min-height: 100vh;
  font-family: var(--system-ui);
  line-height: 1.5;
  font-weight: bold;
  color: var(--default-text-color);
  background-color: var(--primary-bg-color);
  grid-template: 1fr var(--x-large-sizing) / 1fr;
}

.game-container {
  row-gap: var(--x-large-sizing);
  margin: var(--large-sizing)
}

.game-container header h1 {
  font-size: var(--x-large-sizing);
}

#reset {
  grid-auto-flow: column;
  gap: var(--large-sizing);
  font-size: var(--sizing);
}

#reset button {
  background-color: var(--secondary-bg-color);
  color: var(--default-text-color);
  font-family: inherit;
  font-size: inherit;
  width: 8rem;
  padding: 0.75rem var(--half-sizing);
  border: none;
  border-radius: 1rem;
  line-height: 1;
  border: 2px solid var(--primary-bg-color);
}

#reset button:hover {
  transition: transform 0.3s;
  transform: scale(var(--general-transform-scale));
  background-color: rgb(44, 44, 44);
}

#reset button:active {
  transform: translateY(4px);
}

.grid-container {
  grid-template: repeat(3, calc(15rem)) / repeat(3, calc(15rem));
}

div[data-grid] {
  cursor: pointer;
}

div[data-grid]:nth-child(3n - 1) {
  border-left: 4px solid var(--secondary-bg-color);
  border-right: 4px solid var(--secondary-bg-color);
}

div[data-grid]:nth-child(4),
div[data-grid]:nth-child(5),
div[data-grid]:nth-child(6) {
  border-top: 4px solid var(--secondary-bg-color);
  border-bottom: 4px solid var(--secondary-bg-color);
}

input[type="text"] {
  color: var(--default-text-color);
  font-family: inherit;
  font-size: var(--sizing);
  padding: 0 0 5px 0;
  margin: 0;
  background-color: var(--primary-bg-color);
  border: none;
  border-bottom: 2px solid var(--secondary-bg-color);
  text-align: center;
  width: 13rem;
}

.score-container {
  font-size: var(--sizing);
  gap: var(--x-large-sizing);
}

.player-column,
#draw,
.player-row,
.score-container {
  display: flex;
}

.player-column,
#draw {
  flex-direction: column;
}

#draw {
  justify-content: space-between;
  height: 100%;
}

.player-row {
  gap: var(--sizing);
  justify-content: center;
  align-items: start;
}

#player-2-mark,
#player-1-mark {
  width: var(--x-large-sizing);
  aspect-ratio: 1;
}

.cross-mark {
  background: no-repeat center/80% url("img/cross.png");
}

.circle-mark {
  background: no-repeat center/80% url("img/circle.png");
}

#player-2-score,
#draw-score,
#player-1-score {
  font-size: var(--large-sizing);
}

.footer {
  font-size: 1rem;
  color: var(--default-text-color);
  text-decoration: none;
  gap: var(--half-sizing);
}

footer img {
  aspect-ratio: 1;
  width: 1.5rem;
  border-radius: 0.3rem;
}

.winning-grid {
  background-color: var(--secondary-bg-color);
  border-color: 4px solid var(--primary-bg-color);
}

.player-1-color {
  color: rgb(255, 40, 38)
}

.player-2-color {
  color: rgb(29, 155, 229);
}